* {
  box-sizing: border-box;
  font-family: "Poppins", monospace;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.cv {
  display: flex;
}

.cvkiri {
  background-color: rgb(8 42 77);
  height: 100vh;
  padding: 30px;
  color: white;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cvkiri--img {
  width: 100%;
  max-width: 320px;
  aspect-ratio: 1/1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  object-fit: contain;
  transition: all 0.5s;
}

.cvkiri--img:hover {
  border-radius: 50%;
}

.cvkiri--title {
  margin-top: 10px;
  font-weight: 500;
}

.cvkiri--link {
  transition: all 0.3s;
  color: white;
  text-decoration: none;
}

.cvkiri--link:active {
  color: red !important;
}

.cvkiri--link:hover {
  color: blue;
}

.cvkanan {
  height: 100vh;
  color: rgb(8 42 77);
  width: 80%;
  padding: 50px 30px;
}

.cvkanan--title {
  font-size: 40px;
}

.cvkanan--h2 {
  margin-top: 10px;
}

.cvkanan--text {
  text-align: justify;
}

.cvkanan--text::first-letter {
  color: blue;
}
